<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://www.sqber.com/app/AutoupdateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="修改项目名称.exe" lastver="1.0.0.1" size="217600" />
    <LocalFile path="AutoUpdater.dll" lastver="1.0.0.2" size="30720" />
  </UpdateFileList>
</Config>